<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="">

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <link rel="stylesheet" media="all" href="css/screen.css">

    <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/../bower_components/modernizr/modernizr.js"></script>
    <!-- /build -->
</head>
<body class="animate-in">
    {{ content }}
    <!-- build:js scripts/main.js -->
        <script data-main="/scripts/main.js" src="/../bower_components/requirejs/require.js"></script>
    <!-- /build -->
    <!-- build:js resources/scripts/vendor/svg4everybody.js -->
        <script src="/../bower_components/svg4everybody/svg4everybody.min.js"></script>
    <!-- /build -->
</body>
</html>