	<h2 class="title--medium">Vgrid example</h2>
	<p>This is an example of the a image gallery grid using a plugin called vgrid. The images have random heights but Its not working as nicely as I would like will take some testing and refining if I had more time.</p>
 	<div id="grid-content">
		<div>
			<img src="imgs/feature.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img1.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img1.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
		<div class="large">
			<img src="imgs/img3.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img1.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img1.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
		<div>
			<img src="imgs/img2.jpg" alt="feature image">
		</div>
	</div>