<h2 class="title--medium">CSS grid layout</h2>
<p>This uses the gird system and all images set to the same height. This is a better way in my opinion and allows a little mroe freedom. Client can be guided to use the correct sized images.</p>
<div class="grid">
	<div class="grid-item column column__12-of-12 column__8-of-12--medium">
		<img src="imgs/feature.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img1-400.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img1-400.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img1-400.jpg" alt="feature image">
	</div>
		<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img2-400.jpg" alt="feature image">
	</div>
		<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img3-400.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__12-of-12 column__8-of-12--medium">
		<img src="imgs/feature.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img1-400.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img1-400.jpg" alt="feature image">
	</div>
		<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img2-400.jpg" alt="feature image">
	</div>
		<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img3-400.jpg" alt="feature image">
	</div>
	<div class="grid-item column column__6-of-12 column__4-of-12--medium">
		<img src="imgs/img2-400.jpg" alt="feature image">
	</div>
</div>