---
layout: base
title: Williamh
---

<header class="hdr">
	<h1 class="title">Lets make magic.</h1>
	{% include main-nav.html %}
</header>

<section class="main grid">
	<aside class="column column__12-of-12 column__3-of-12--small column__2-of-12--large">
	 	{% include secondary-nav.html %}
	</aside>
  	<div class=" column column__12-of-12 column__9-of-12--small column__10-of-12--large">
	  	<div class="content">
			<p>I had a vision of a world without Batman. The Mob ground out a little profit and the police tried to shut them down one block at a time. And it was so boring. I've had a change of heart. I don't want Mr Reese spoiling everything but why should I have all the fun? Let's give someone else a chance. If Coleman Reese isn't dead in 60 minutes then I blow up a hospital.</p>

			<p>Seven hundred twelve counts of extortion. Eight hundred and forty-nine counts of racketeering. Two hundred and forty-six counts of fraud. Eighty-seven counts of conspiracy murder.Five hundred and twenty-seven counts of obstruction of justice. How do the defendants plead?</p>

			<p>Every man who has lotted here over the centuries, has looked up to the light and imagined climbing to freedom. So easy, so simple! And like shipwrecked men turning to seawater foregoing uncontrollable thirst, many have died trying. And then here there can be no true despair without hope. So as I terrorize Gotham, I will feed its people hope to poison their souls. I will let them believe that they can survive so that you can watch them climbing over each other to stay in the sun. You can watch me torture an entire city. And then when you've truly understood the depth of your failure, we will fulfill Ra's Al Ghul's destiny. We will destroy Gotham. And then, when that is done, and Gotham is... ashes Then you have my permission to die.</p>

			<p>My name is Merely Ducard but I speak for Ra's al Ghul... a man greatly feared by the criminal underworld. A mon who can offer you a path. Someone like you is only here by choice. You have been exploring the criminal fraternity but whatever your original intentions you have to become truly lost. The path of a man who shares his hatred of evil and wishes to serve true justice. The path of the League of Shadows.</p>
	 	</div>
	 	<div class="grid grid--masonry">
			<div class="grid-item column column__12-of-12 column__8-of-12--medium">
				<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
			</div>
				<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
			</div>
				<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__12-of-12 column__8-of-12--medium">
				<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
			</div>
				<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
			</div>
				<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
			</div>
				<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
			</div>
			<div class="grid-item column column__6-of-12 column__4-of-12--medium">
				<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
			</div>
		</div>
	</div>
</section>


<ul class="gallery1">
	<li>
		<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img2.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img3.jpg" alt="feature image">
	</li>
	<li>
		<img class="gallery1--img" src="/imgs/img1.jpg" alt="feature image">
	</li>
</ul>
