---
layout: base
title: Williamh
---

<header class="hdr">
	<h1 class="title center"><a href="/" title="">Large title.</a></h1>
	{% include main-nav.html %}
</header>

<main class="main grid">
	<div class="column column__center column__10-of-12">
		<aside class="column column__12-of-12 column__3-of-12--small column__2-of-12--large">
		 	{% include secondary-nav.html %}
		</aside>
	  	<div class="column column__12-of-12 column__9-of-12--small column__10-of-12--large">
		  	<div class="content">
				<p>I had a vision of a world without Batman. The Mob ground out a little profit and the police tried to shut them down one block at a time. And it was so boring. I've had a change of heart. I don't want Mr Reese spoiling everything but why should I have all the fun? Let's give someone else a chance. If Coleman Reese isn't dead in 60 minutes then I blow up a hospital.</p>

				<p>Seven hundred twelve counts of extortion. Eight hundred and forty-nine counts of racketeering. Two hundred and forty-six counts of fraud. Eighty-seven counts of conspiracy murder.Five hundred and twenty-seven counts of obstruction of justice. How do the defendants plead?</p>

				<p>Every man who has lotted here over the centuries, has looked up to the light and imagined climbing to freedom. So easy, so simple! And like shipwrecked men turning to seawater foregoing uncontrollable thirst, many have died trying. And then here there can be no true despair without hope. So as I terrorize Gotham, I will feed its people hope to poison their souls. I will let them believe that they can survive so that you can watch them climbing over each other to stay in the sun. You can watch me torture an entire city. And then when you've truly understood the depth of your failure, we will fulfill Ra's Al Ghul's destiny. We will destroy Gotham. And then, when that is done, and Gotham is... ashes Then you have my permission to die.</p>

				<p>My name is Merely Ducard but I speak for Ra's al Ghul... a man greatly feared by the criminal underworld. A mon who can offer you a path. Someone like you is only here by choice. You have been exploring the criminal fraternity but whatever your original intentions you have to become truly lost. The path of a man who shares his hatred of evil and wishes to serve true justice. The path of the League of Shadows.</p>
		 	</div>

			<section class="section--feature">
				<h2 class="title--medium">Vgrid example</h2>
				<p>This is an example of the a image gallery grid using a plugin called vgrid. The images have random heights but Its not working as nicely as I would like will take some testing and refining if I had more time.</p>
			 	<div id="grid-content">
					<div>
						<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img1.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img1.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
					<div class="large">
						<img src="/imgs/img3.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img1.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img1.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
					<div>
						<img src="/imgs/img2.jpg" alt="feature image">
					</div>
				</div>
			</section>

			<section class="section--feature">
				<h2 class="title--medium">CSS grid layout</h2>
				<p>This uses the gird system and all images set to the same height. This is a better way in my opinion and allows a little mroe freedom. Client can be guided to use the correct sized images.</p>
			 	<div class="grid">
					<div class="grid-item column column__12-of-12 column__8-of-12--medium">
						<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img1-400.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img1-400.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img1-400.jpg" alt="feature image">
					</div>
						<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img2-400.jpg" alt="feature image">
					</div>
						<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img3-400.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__12-of-12 column__8-of-12--medium">
						<img class="gallery1--img" src="/imgs/feature.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img1-400.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img1-400.jpg" alt="feature image">
					</div>
						<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img2-400.jpg" alt="feature image">
					</div>
						<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img3-400.jpg" alt="feature image">
					</div>
					<div class="grid-item column column__6-of-12 column__4-of-12--medium">
						<img class="gallery1--img" src="/imgs/img2-400.jpg" alt="feature image">
					</div>
				</div>
			</section>
		</div>
	</div>
</main>



