---
layout: base-pattern
title: Pattern Library
---

{% assign components = site.components | sort: 'group-id'  %}
{% assign templates = site.templates | sort: 'group' %}

<main role="main">
    <header class="pattern__header">
        <div class="wrapper">
            <a href="index.html" title="back to home"><h1>Pattern Library</h1></a>
            <a href="#pattern__menu" class="pattern__nav__open-menu">
                <svg viewBox="0 0 100 100" class="icon icon__menu">
                    <use xlink:href="imgs/sprite/icon-sprite.svg#icon__menu"></use>
                </svg>
            </a>
             <nav class="pattern__nav" id="pattern__menu">
                <ul>
                    {% for component in components %}
                        {% if component.group-id != lastGroup %}
                            <li class="pattern__nav__group">
                                <a href="#component__{{ component.title | slugify }}">{{ component.group-name }}</a>
                            </li>
                        {% endif %}
                            <li class="pattern__nav__component">
                                <a href="#component__{{ component.title | slugify }}">{{ component.title }}</a>
                            </li>
                        {% assign lastGroup = component.group-id %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <ul class="pattern__components">
        {% for component in components %}
            <li id="component__{{ component.title | slugify }}" class="pattern__component">
                <div class="wrapper">
                    <div class="pattern__component__details">
                        <h3>{{ component.title }}</h3>
                        <a href="{{ component.url }}" class="pattern__component__link">
                            <svg viewBox="0 0 100 100" class="icon icon__view">
                                <use xlink:href="/imgs/sprite/icon-sprite.svg#icon__view"></use>
                            </svg>
                        </a>
                        {{ component.description | markdownify }}
                    </div>
                    <div class="pattern__component__example">
                        {{ component.content }}
                    </div>
                </div>
{% capture code %}
{% highlight html %}
{{ component.content }}
{% endhighlight %}
{% endcapture %}
                {{ code | markdownify }}
            </li>
        {% endfor %}
    </ul>
</main>