.main {
	margin-top: 2 + $ratio#{em};
}

.center {
    text-align: center;
    p {
        margin: auto;
    }
}

.section--feature {
    margin: 2 + $ratio#{em} 0;
}

.content {
	@include breakpoint(small){
		column-count: 1;
    }
    @include breakpoint(medium){
        column-count: 2;
    }
    @include breakpoint(large){
        column-count: 3;
    }
}