%hn{
   font-family: $heading-font;
   font-weight: 600;
   line-height: 1em;
   margin: 0 0 $ratio--inv#{em};
   text-transform: uppercase;
   -webkit-font-smoothing: antialiased;
}

h1{
    @extend %hn;

    font-size: pow($ratio, 2)#{em};
}

h2{
    @extend %hn;

    font-size: $ratio#{em};
}

h3,
h4{
    @extend %hn;

    font-size: 1 + ($ratio--inv / 2)#{em};
}