.icon{
    display: inline-block;
    width: $ratio#{em};
    height: $ratio#{em};
}

.icon__toolbar, .icon__scale{
	width: 2 + $ratio#{em};
	fill: $color__gray;
	stroke: $color__gray;
}

.icon__facebook{
	fill: $color__facebook;
}

.icon__twitter{
	fill: $color__twitter;
}