// Don't leave stuff in here, it's lazy and everyone will hate you for it.

.show { 
	height: 3em !important;
	transition: height 1s ease;
}

.add_margin {
	margin-top: 3em;
	transition: all 0.5s;
}

.home {
	float: left;
}


/* ---- grid-item ---- */

.grid-item {
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
}

.grid-item {
	img {
		width: 100%;
	}
}


#grid-content {
  img {
    width: 100%;
    @include breakpoint(medium){
        min-width: 400px;
    }
  }
}

#grid-content div img {
  margin: 0;
  padding: 0;
}
