// Don't leave stuff in here, it's lazy and everyone will hate you for it.

.show { 
	height: 3em !important;
	transition: height 1s ease;
}

.add_margin {
	margin-top: 3em;
	transition: all 0.5s;
}

.home {
	float: left;
}

/* ---- grid ---- */

.grid--masonry {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid--masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
}

.grid-item {
	img {
		width: 100%;
	}
}

.grid-item--small { width: 320px; }
.grid-item--medium { width: 480px; }
.grid-item--large { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

// .grid__gallery {
// 	.column {
// 		padding: 0;
// 	}
// }