$heading-font: 'Roboto Slab', serif;
$body-font: helvetica, arial, sans-serif;

$line-height: $ratio#{em};
$font-weight: 300;
$base-font-size: 14;

@font-face {
    font-family: 'redactedregular';
    src: url('../fonts/redacted/redacted-regular.eot');
    src: url('../fonts/redacted/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted/redacted-regular.woff2') format('woff2'),
         url('../fonts/redacted/redacted-regular.woff') format('woff'),
         url('../fonts/redacted/redacted-regular.ttf') format('truetype'),
         url('../fonts/redacted/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redacted_scriptbold';
    src: url('../fonts/redacted/redacted-script-bold.eot');
    src: url('../fonts/redacted/redacted-script-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted/redacted-script-bold.woff2') format('woff2'),
         url('../fonts/redacted/redacted-script-bold.woff') format('woff'),
         url('../fonts/redacted/redacted-script-bold.ttf') format('truetype'),
         url('../fonts/redacted/redacted-script-bold.svg#redacted_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redacted_scriptlight';
    src: url('../fonts/redacted/redacted-script-light.eot');
    src: url('../fonts/redacted/redacted-script-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted/redacted-script-light.woff2') format('woff2'),
         url('../fonts/redacted/redacted-script-light.woff') format('woff'),
         url('../fonts/redacted/redacted-script-light.ttf') format('truetype'),
         url('../fonts/redacted/redacted-script-light.svg#redacted_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redacted_scriptregular';
    src: url('../fonts/redacted/redacted-script-regular.eot');
    src: url('../fonts/redacted/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted/redacted-script-regular.woff2') format('woff2'),
         url('../fonts/redacted/redacted-script-regular.woff') format('woff'),
         url('../fonts/redacted/redacted-script-regular.ttf') format('truetype'),
         url('../fonts/redacted/redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.lauren { font-family: redacted_scriptregular; }

html{
    font-family: $body-font;
    line-height: $line-height;
    font-size: $base-font-size#{px};
    font-weight: $font-weight;
    direction: ltr;
    display: block;
    unicode-bidi: embed;
    -webkit-locale: en-UK;
}

body{
    @include breakpoint(small){
        font-size: 16 / $base-font-size#{em};
        line-height: $line-height;
    }
    @include breakpoint(medium){
        font-size: 18 / $base-font-size#{em};
        line-height: $line-height;
    }
    @include breakpoint(large){
        font-size: 22 / $base-font-size#{em};
        line-height: $line-height;
    }
}