.column_fill {
    background-color: $color__black;
    color: $color__white;
    display: block;
    padding: $ratio--inv#{em};
    text-align: center;

    &:hover {
        background-color: $color__blue;
    }
}
